
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { position: relative; width: 100vw; height: 100vh; overflow: hidden; display: flex; flex-direction: column; }

h1 { font: bold 32px/40px $mainFontFamily; }

p { font: normal 14px/20px $mainFontFamily; }
b { font-weight: bold; }
// i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active, &:focus { color: $linkColor_hover; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; height: 100vh; margin: 0 auto; padding: 2.5rem 1.25rem; background: transparent; display: grid; grid-gap: 1.25rem .625rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) and (max-width: $mobileWidth_md) { width: 100%; }
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 2.75rem; grid-gap: 1.25rem; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; padding: 3rem; }
}

@media screen and (min-width: $tabletWidth) {
  // ::-webkit-scrollbar { width: 10px; height: 10px; }
  // ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  // ::-webkit-scrollbar-thumb { background: $mainColor; outline: none; }
  // ::-webkit-scrollbar-corner { background: $mainColor; }
  // ::-webkit-resizer { background: $DarkGrey; }

  h1 { font-size: 40px; line-height: 54px; }

  p { font-size: 20px; }
}
@media screen and (min-width: $desktopWidth) {
  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth_md) {
  h1 { font-size: 64px; line-height: 77px; }

  p { font-size: 24px; }
}


/* Form styles */
.button {
  a { height: 3.25rem; border-radius: 26px; padding: 0 1.625rem; background: $Red; font: 600 24px/1 $mainFontFamily; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:active, &:focus { color: $linkColor; }
  }

  @media screen and (min-width: $mobileWidth) and (max-width: $mobileWidth_md) {
    a { height: 3rem; border-radius: 22px; padding: 0 1.25rem; font-size: 20px; }
  }
  @media screen and (min-width: $desktopWidth) {
    a:hover { color: $linkColor; }
  }
  @media screen and (min-width: $desktopWidth_md) {
    a { height: 4.625rem; border-radius: 37px; padding: 0 2.25rem; font-size: 36px; }
  }
}


/* Layout styles */
main { flex-grow: 1; @include z-index('main'); }


/* Page styles */
@import 'page/index';
