extends include/main

block variables
  - let title = 'Алексей Сидоряк'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .photo
      picture
        source(srcset='/image/photo/main.jpg, /image/photo/main@2x.jpg 2x' media='(min-width: 1280px)' type='image/jpeg')
        source(srcset='/image/photo/main.d.jpg, /image/photo/main.d@2x.jpg 2x' media='(min-width: 768px) and (max-width: 1279px)' type='image/jpeg')
        img(src='/image/photo/main.m.jpg' srcset='/image/photo/main.m@2x.jpg 2x' alt='photo')
    .container
      .index.content
        .index__main
          .index__name Алексей Сидоряк
          .index__title
            h1
              | Веб-разработка и&nbsp;ничего лишнего
              br
              span Laravel+Vue.js
        .index__group
          .index-contacts
            .index-contacts__phone
              a(href='tel:+79602797845' title='Мой телефон') +7 (960) 279-78-45
            .index-contacts__email
              a(href='mailto:a@sidoryak.ru' title='Мой мейл') a@sidoryak.ru
            .index-contacts__telegram
              a(href='tg://resolve?domain=s1doryak' target='_blank' title='Мой телеграм')
                img(src='/image/icon/telegram.svg' alt='icon')
                span s1doryak
          .index-info
            .index-info__button
              .button
                a(href='/download/portfolio.pdf' target='_blank' title='Моё портфолио') Портфолио
            .index-info__link
              a(href='/download/contract.doc' target='_blank' title='Типовой договор') Типовой договор
