
/* Brand colors */
$Black                     : #000000;
$DarkGrey                  : #a9a9a9;
$LightGrey                 : #bbbbbb;
$White                     : #ffffff;

$Blue                      : #0000ff;
$Red                       : #f9322c;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'Inter', sans-serif;
$mainLineHeight            : 1.5;

/* Screen resolution */
$mobileWidth               : 320px;
$mobileWidth_md            : 360px;
$tabletWidth               : 768px;
$laptopWidth               : 1024px;
$desktopWidth              : 1440px;
$desktopWidth_md           : 1560px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $White;
$mainBackground            : $White;
$linkColor                 : $White;
$linkColor_hover           : $Red;
