
/* Index page */
#index {
  .photo { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: -2;
    img { width: 100%; object-fit: cover; }
  }

  .container {
    .index { display: flex; flex-direction: column; justify-content: space-between;
      &__main { margin-top: 5.5rem; display: flex; flex-direction: column; align-items: center; }
      &__name { margin-bottom: .625rem; font-size: 24px; line-height: 32px; text-align: center; }
      &__title h1 { text-align: center;
        span { position: relative;
          &::before { @include pseudo; left: -10px; top: -3px; width: calc(100% + 20px); height: calc(100% + 7px); background: $Red; z-index: -1; }
        }
      }
      &__group { margin-bottom: .5rem; display: flex; flex-direction: column; align-items: center; }

      &-contacts { font-size: 24px; line-height: 32px; display: flex; flex-direction: column; align-items: center;
        &__phone { margin-bottom: .625rem;
          a { text-align: center; }
        }
        &__email { margin-bottom: 1.25rem;
          a { text-align: center; text-decoration-line: underline; }
        }
        &__telegram a { display: flex; align-items: center;
          img { width: 38px; height: 38px; margin-right: .5rem; flex: none; }
        }
      }

      &-info { margin-top: 2.875rem; display: flex; flex-direction: column; align-items: center;
        &__link { margin-top: 1.25rem;
          a { font-size: 16px; }
        }
      }
    }

    @media screen and (min-width: $mobileWidth) and (max-width: $mobileWidth_md) {
      .index {
        &__main { margin: -.625rem 0 0 0; }
        &__name { margin-bottom: 0; font-size: 20px; }
        &__title h1 { font-size: 24px; line-height: 32px; }
        &__group { margin: 0; }

        &-contacts { font-size: 20px;
          &__phone { margin-bottom: .1875rem; }
          &__email { margin-bottom: .625rem; }
          &__telegram a { height: 33px;
            img { width: 33px; height: 33px; margin-right: .25rem; }
          }
        }

        &-info { margin-top: 1.75rem;
          &__link { margin-top: .875rem;
            a { font-size: 14px; }
          }
        }
      }
    }
    @media screen and (min-width: $tabletWidth) {
      .index { margin: 0 4.25rem;
        &__main { margin-top: 5rem; width: 410px; align-items: flex-start; }
        &__name { text-align: left; }
        &__title h1 { text-align: left;
          span::before { left: -12px; width: calc(100% + 24px); }
        }
        &__group { margin-bottom: 5rem; flex-direction: row; justify-content: space-between; }

        &-contacts { align-items: flex-start;
          &__phone a,
          &__email a { text-align: left; }
          &__telegram a { position: relative; height: 38px;
            img { position: absolute; left: -46px; margin: 0; }
          }
        }

        &-info { margin: 0 -1rem 0 0;
          &__link { margin-top: .625rem; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .index { margin: 0 4.25rem;
        &-info { margin-right: 5.5rem; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index { margin: 0 8.25rem;
        &__main { margin-top: 6rem; }
        &__group { margin-bottom: 6rem; }

        &-info { margin-right: 14rem; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .index { margin: 0 4.25rem;
        &__main { width: 580px; margin: 8% 0 5rem; }
        &__name { margin-bottom: .9375rem; font-size: 36px; line-height: 45px; }
        &__group { margin-bottom: 8%; }

        &-contacts { font-size: 36px; line-height: 45px;
          &__phone { margin-bottom: .875rem; }
          &__email { margin-bottom: 1.75rem; }
          &__telegram a { height: 54px;
            img { left: -65px; width: 54px; height: 54px; }
          }
        }

        &-info { margin: 0 15rem 0 0;
          &__link { margin-top: .9375rem;
            a { font-size: 24px; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) {
    .photo { padding: 2.75rem;
      img { width: auto; height: 100%; }
    }
  }
  @media screen and (min-width: $laptopWidth) {
    // .photo {}
  }
  @media screen and (min-width: $desktopWidth) {
    .photo {
      img { width: 100%; }
    }
  }
  @media screen and (min-width: $desktopWidth_md) {
    .photo { padding: 3rem; }
  }
}
